@font-face {
   font-family: 'KikaiChokokuJIS';
   src: url(./fonts/KikaiChokokuJIS-Md.otf);
}

.audio_background{
   background-image: url(background2.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.wrapper {
   width: 100%;
   padding: 40px;
   box-sizing: border-box;

   display: flex;
   align-items: center;
   flex-direction: column;
}

.clock {
   background-color: #aed0ff;
   border: 3px solid #4280d7;
   width: 400px;
   height: 400px;
   position: relative;
   border-radius: 50%;
}

.clock::after {
   width: 16px;
   height: 16px;
   background: #4280d7;
   content: "";

   position: absolute;
   top: calc(50% - 8px);
   left: calc(50% - 8px);
   border-radius: 50%;
}

.line {
   position: absolute;
   transform-origin: bottom;
}

.hour {
   width: 8px;
   height: 140px;
   background: #2e5894;
   top: calc(50% - 140px);
   left: calc(50% - 4px);
}

.min {
   width: 4px;
   height: 180px;
   background: #2e5894;
   top: calc(50% - 180px);
   left: calc(50% - 2px);
}

.sec {
   width: 1px;
   height: 180px;
   background: #2e5894;
   top: calc(50% - 180px);
   left: calc(50% - 0.5px);
}

.scale {
   position: relative;
   width: 100%;
   height: 100%;
}

.scale>div {
   position: absolute;
   top: 0;
   left: calc(50% - 2px);
   width: 4px;
   height: 50%;
   transform-origin: bottom;
}

.scale>div::after {
   position: absolute;
   top: 0;
   content: "";
   width: 4px;
   height: 12px;
   background-color: #4280d7;
}

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header {
   position: relative;
   /*h1の中央寄せ配置の起点とするためのrelative*/
   height: 100vh;
   /*高さを全画面にあわせる*/
}


.container-video {
   position: relative;
   height: 600px;
   overflow: hidden;
   opacity: 0.01;
   animation: load 1.5s 0.8s ease-out forwards;
}

.container-video #video {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -1000;
   overflow: hidden;
   transform: translate(-50%, -50%) scale(1.05);
}

@keyframes load {
   100% {
      opacity: 1;
   }
}

.table-center {
   display: table;
   width: 100%;
   position: relative;
   height: 100%;
}

.table-center>div {
   display: table-cell;
   vertical-align: middle;
   position: relative;
   text-align: center;
}

.table-center>div p {
   color: #fff;
   text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: 10px;
   font-size: 2em;
   font-weight: 600;
}

#video-area {
   position: fixed;
   z-index: -1;
   /*最背面に設定*/
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   overflow: hidden;
}

#video {
   /*天地中央配置*/
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /*縦横幅指定*/
   width: 177.77777778vh;
   /* 16:9 の幅→16 ÷ 9＝ 177.77% */
   height: 56.25vw;
   /* 16:9の幅 → 9 ÷ 16 = 56.25% */
   min-height: 100%;
   min-width: 100%;
}

/*見出し設定*/
body{
   text-shadow: 0 0 15px #666;
}

p .black{
color: black;
}
.white{
   color: #fff;
}
p{
   color: #fff;
}
/*========= レイアウトのためのCSS ===============*/
.small {
   font-size: small;
}

#container {
   background: #fff;
   padding: 300px 0;
   text-align: center;
}
/* BUG:わけがわからない */


* {
   box-sizing: border-box;
}
.fl1{
  float: left; 
}
.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 	content: "|";
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}
body {
   margin: 0;
   padding: 0;
   font-family: 'KikaiChokokuJIS', sans-serif;
   background-image: url(background.png);
   background-size: auto;
   background-repeat: no-repeat;
   letter-spacing : 0.2em;
}
header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
}
h1 {
   margin: 0; padding: 0;
   font-size: 20px;
}
a {
   text-decoration: none;
   color: #fff;
}
nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url('main_visual.jpg') top center / cover no-repeat;
}
h2{
   margin: 0;
   font-size: 30px;
   font-weight: normal;
   color: #fff;
}
/* BUG: わけがわからないコード */
/* BUG: ほとんどコピぺ */
/* BUG: ソースはやっぱりブルドッグソース */
.center{
  margin: auto;
  text-align: center;
  /* BUG*/
}
